.QueryResultWrapper {
  margin: 20px 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .resultLink {
    padding: 0 10px;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 8px;
    transition: background-color 0.3s ease;
    text-decoration: none;

    &:hover {
      background-color: rgba(255, 255, 255, 0.73);
    }

    color: black;
  }
}

@media screen and (max-width: 1450px){
  .QueryResultWrapper {
    width: 100%;
  }
}