.Button {
  display: block;
  height: 40px;
  cursor: pointer;
  padding: 5px 30px;
  background-color: #ffffff;
  color: #252525;
  font-size: 1.125em;
  border-radius: 6px;
  white-space: nowrap;

  transition: background-color .3s ease;
  &:hover {
    background-color: #eaeaea;
  }

  &.redStyle {
    color: white;
    background-color: #c90e40;
    border: 0;

    &:hover {
      background-color: #a90f34;
    }
  }

  &.greyStyle {
    color: #252525;
    background-color: #f3f3f3;
    border: 0;

    &:hover {
      background-color: #e5e5e5;
    }
  }

  &.s {
    height: 35px;
    padding: 5px 15px;
    font-size: 1rem;
  }

  &.active {
    color: white;
    background-color: #2a2a2a;
  }
}

